@use '../../../../../../../styles/variables' as *;
@use '../../../../../../../styles/functions' as *;

.list {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 18px;

	.option {
		position: relative;
		font-size: $details-from-list-fz;
		list-style-type: none;
		padding-left: 28px;

		&::before {
			content: "•";
			position: absolute;
			left: 2px;
			top: 2px;
			font-size: $details-from-list-fz;
		}

		&.numerable {
			display: flex;
			padding-left: 0;

			&::before {
				display: none;
			}

			.optionText {
				margin-left: 13px;
			}
		}

		.optionText {
			font-size: $details-from-list-fz;
		}
	}
}

.error.error {
	height: auto;
	font-size: 14px;
	top: -20px;
}