@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;
@use '../../../styles/functions' as *;

.backgroundContainer {
	z-index: 111;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: transparent;
	transition: all $anim-time $slow;

	.modal {
		position: absolute;
		top: 0;
		right: 0;
		width: 50%;
		min-width: $breakpoint-m;
		max-height: 100vh;
		display: flex;
		flex-direction: column;

		background-color: $background-color-secondary;
		transition: all 0.2s $slow;

		.header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 27px 48px;
			background-color: $primary-color;
			border-bottom: 2px solid $secondary-color;

			h4 {
				color: $text-color-white;
				font-size: $pc-t2-fz;
				font-weight: $font-weight-reg;
			}

			@include respond-to(s) {
				padding: 29px 12px;
			}
		}

		@include respond-to(s) {
			width: 100%;
			min-width: unset;
		}
	}
}

.background {
	z-index: 110;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba-color($black-bg-color, 0.5);
	transition: all $anim-time $slow;
}