@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.title {
	font-size: $pc-h3-fz;
	font-weight: $font-weight-med;

	&:nth-child(n + 2) {
		margin-top: 64px;
	}

	@include respond-to(s) {
		margin: 0;
		font-size: $pc-h4-fz;
	}
	@include respond-to(m ) {
		margin: 0;
		font-size: $pc-h4-fz;
	}
}