@use '../../../../../../styles/variables' as *;
@use '../../../../../../styles/mixins' as *;
@use '../../../../../../styles/functions' as *;

.date {
	background-color: $text-color-white;
	padding: 18px 24px;
	border-radius: $border-rad-3;

	font-size: $pc-t2-fz;
}

.returnBtn.returnBtn.returnBtn {
	align-self: center;
	margin-top: -58px;
	padding: 28px;
	font-size: $pc-t1-fz;
	font-weight: $font-weight-med;

	@include respond-to(s) {
		margin-top: -29px;
	}
	@include respond-to(m) {
		margin-top: -29px;
	}
}