/**
 * @sass-export-section="animations"
 */
$slow: cubic-bezier(.46, .61, .22, .72);

/**
 * @sass-export-section="animation-time"
 */
$anim-time: 0.6s;

/**
 * @sass-export-section="box-shadow"
 */
$shadow-size: 0px 5px 30px 0px;