$text-color-black: #2F3035;
$text-color-white: #fff;

$primary-color: #004BAE;
$primary-color-active: #4D68ED;

$secondary-color: #F8E00F;
$secondary-color-active: #FFF200;

$disabled-color: #CCDBEF;

$background-color-primary: #F1F5F8;
$background-color-secondary: #FAFCFE;

$black-bg-color: #000;