/**
 * @sass-export-section="fonts"
 */
$main-font: 'ubuntu';
$not-found-font: 'unbounded';

/**
 * @sass-export-section="font-weight"
 */
$font-weight-reg: 400;
$font-weight-med: 500;

/**
 * @sass-export-section="pc-fonts"
 */
$pc-h1-fz: 64px;
$pc-h2-fz: 52px;
$pc-h3-fz: 32px;
$pc-h4-fz: 29px;
$pc-h5-fz: 23px;
$pc-h6-fz: 20px;

$pc-t1-fz: 20px;
$pc-t2-fz: 17px;
$pc-t3-fz: 14px;

// mobile-fonts
$mob-h1-fz: 52px;
$mob-h2-fz: 32px;
$mob-h3-fz: 26px;
$mob-h4-fz: 23px;
$mob-h5-fz: 20px;
$mob-h6-fz: 17px;

$mob-t1-fz: 17px;
$mob-t2-fz: 14px;
$mob-t3-fz: 11px;

// pc-buttons-fonts
$pc-btn-fz-sm-blue: $pc-t3-fz;
$pc-btn-fz-sm-yellow: $pc-t3-fz;
$pc-btn-fz-md-blue: $pc-t2-fz;
$pc-btn-fz-md-gray: $pc-t2-fz;
$pc-btn-fz-lg: $pc-h6-fz;
$pc-btn-fz-xl: $pc-h5-fz;

// PRICES TABLE
$price-table-title-fz: $pc-h3-fz;
$price-table-optionalService-fz: $pc-h6-fz;
$price-table-table-line-fz: $pc-h6-fz;

// ADMIN
// SIDENAV
$admin-side-nav-fz: $pc-t2-fz;

// COMMON TABLE
$admin-common-table-title-fz: $pc-h6-fz;
$admin-common-table-line-fz: $pc-h6-fz;

// MODAL WINDOW
$admin-modal-window-fz: $pc-h3-fz;

// DETAILS FORM
$details-from-title-fz: $pc-h3-fz;
$details-from-paragraph-fz: $pc-h5-fz;
$details-from-quoute-fz: $pc-h5-fz;
$details-from-list-fz: $pc-h5-fz;

$details-form-delete-btn-fz: $pc-h6-fz;