 /**
 * @sass-export-section="breakpoints"
 */
$breakpoint-s: 0; //320px
$breakpoint-m: 744px;
$breakpoint-l: 1025px;
$breakpoint-xl: 1280px;

 $container-max-width-s: 743px;
 $container-max-width-m: 1024px;
 $container-max-width-l: 1279px;
 $container-max-width-xl: 1440px;