/**
 * @sass-export-section="breakpoints"
 */
$breakpoint-small: 320px;
$breakpoint-medium: 744px;
$breakpoint-large: 1025px;

$container-size-small: 480px;
$container-size-medium: 1024px;
$container-size-large: 1440px;