@use '../../../../../../styles/variables' as *;

.inputContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  .checkboxContainer {
    display: flex;
    justify-content: space-between;

	  .label {
		  margin-bottom: 0;
	  }
  }

  .absoluteContainer {
    padding-top: 32px;

    .button {
      width: 100%;
      pointer-events: none;
      opacity: 0;

      transition: all $anim-time $slow;

      &.active {
        pointer-events: auto;
        opacity: 1;
      }
    }

    .error {
      width: 100%;
      border-radius: $border-rad-5;

      color: $error-color;
      text-align: center;
      font-size: $pc-h6-fz;
    }
  }
}