@use '../../../../../../styles/variables' as *;

.container {
  margin-top: 128px;

  .title {
    margin-bottom: 64px;
  }

  .text {
    margin-top: 48px;

    color: $text-color-black;
    font-size: $pc-h6-fz;
  }
}