@use '../styles/variables' as *;

.layout {
    height: 100vh;

    .container {
        height: 100%;
        display: flex;
        flex-direction: column;

        .main {
            flex-grow: 1;
            padding-top: 70px;
            color: $text-color-black;

            .container {
                display: flex;
                flex-direction: row;
                gap: 64px;
                padding: 93px 24px;

                .empty {
                    max-width: 240px;
                    width: 100%;
                    color: transparent;
                }

                .not_logged_in {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    width: 100%;
    
                    font-size: $pc-h1-fz;
                }
            }
        }
    }
}