@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.list {
	list-style-position: inside;
	padding-left: 12px;

	li {
		line-height: 180%;
		word-break: break-word;
	}
}

.space {
	display: inline-block;
	margin-left: 8px;
}