@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;
@use '../../../styles/functions' as *;


.heroSection {
	position: relative;
	padding: 186px 0;

	background-image: url('/images/client/main_hero_bg.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	isolation: isolate;

	@include mix-bg-colors($primary-color);

	h1,
	p {
		color: $text-color-white;
	}

	@include respond-to(s) {
		padding: 93px 0;
	}
	@include respond-to(m) {
		padding: 93px 0;
	}
}
