@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;
@use '../../../styles/functions' as *;


.heroSection {
	@include hero-section-basic();
	@include mix-bg-colors('/images/client/news_hero_bg.jpg');
}

.cardsContainer {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 32px;
}
