@use '../../../styles/variables' as *;

.header {
    background-color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: $secondary-color 2px solid;

    &.login {

        .logo {
            padding-bottom: 25px;
        }
        
        .links {
            display: none;
        }
    }

    .logo {
        height: 100%;
        padding-top: 8px;
    }

    .links {

        .link {
            text-decoration: none;
            color: $text-color-white;
            font-size: $pc-t2-fz;

            display: inline-block;
            margin: 25px 20px;

            transition: all 0.3s ease-out;

            &:hover {
                color: $secondary-color;
                margin: 25px 20px 23px 20px;
                border-bottom: $secondary-color 2px solid;
            }
        }
    }
}