@use '../../../../styles/variables' as *;

.sectionTitle {
  margin-bottom: 32px;
}

.tableLineOptions {
  display: flex;
  align-items: center;

  .starBtn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    display: inline-block;
  }
}

.addButton {
  width: 100%;
  margin-top: 32px;
}