@use '../../../styles/_variables.scss' as *;

.btn {
    position: absolute;
    display: block;
    height: 16px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    transition: all $anim-time $slow;

    &:hover {
        .circle {
            height: 28px;
            width: 28px;
            transform: translate3d(-50%, -50%, 0);
        }
    }

    .cross {
        transition: all $anim-time $slow;
    }
    .circle {
        z-index: -5;
        position: absolute;
        top: 50%;
        left: 50%;
        height: 1px;
        width: 1px;
        border-radius: 50%;
        transform: translate3d(-50%, -50%, 0);
        transition: all $anim-time $slow;

        background-color: $error-color;
    }
}