@use '../../../../../styles/variables' as *;
@use '../../../../../styles/mixins' as *;
@use '../../../../../styles/functions' as *;

.container {
	flex: 0 1 384.5px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
	gap: 32px;

	flex-grow: 1;
	max-width: 442px;
	padding: 48px;
	background-color: $background-color-secondary;
	border-radius: $border-rad-3;

	transition: all $anim-time $slow;
	box-shadow: 0 0 44px 0 rgba-color($black-bg-color, 0.04);

	&:hover {
		box-shadow: 9px 14px 44px 0 rgba-color($black-bg-color, 0.20), 0 0 0 0 rgba-color($black-bg-color, 0.20);

		.cardImage {
			transform: scale(1.1) translateY(-5%);
		}
	}

	.imageContainer {
		position: relative;
		clip-path: inset(-100px 0 0 0 round $border-rad-3);
		width: 100%;
		aspect-ratio: 1/1;
		border-radius: $border-rad-5;

		margin-bottom: 16px;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;

		&.blue {
			background-image: url('/images/bg_blue_employee.jpg');
		}

		&.grey {
			background-image: url('/images/bg_grey_employee.jpg');
		}

		.cardImage {
			width: 100%;
			height: auto !important;
			top: 2px !important;
			left: 0 !important;
			transition: all $anim-time $slow;
		}
	}

	.text {

		.name {
			text-align: left;
			font-size: $pc-h4-fz;
			font-weight: $font-weight-med;

			margin-bottom: 22px;

			@include respond-to(s) {
				font-size: $mob-h3-fz;
				margin-bottom: 12px;
			}
			@include respond-to(m) {
				font-size: $mob-h3-fz;
			}
		}

		.position {
			text-align: left;
			font-size: $pc-t2-fz;

			@include respond-to(s) {
				font-size: $mob-t2-fz;
			}
			@include respond-to(m) {
				font-size: $mob-t2-fz;
			}
		}
	}

	@include respond-to(s) {
		max-width: 324px;
		padding: 38px;
	}
	@include respond-to(m) {
		max-width: 324px;
		padding: 38px;
	}
}