@use '../../../../../../../styles/variables' as *;

.additionalTitle {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 64px 0 48px;
}

.inputs {
	display: flex;
	gap: 32px;
	width: 100%;

	.description {
		.error {
			position: absolute;
			bottom: -28px;
		}
	}
}