@use '../../../../../../styles/variables' as *;

.inputContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;

  .buttonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
  }

  .firstInputContainer {
    position: relative;

    .error {
      position: absolute;
      bottom: 18px;
      width: 100%;
      border-radius: $border-rad-5;

      color: $error-color;
      text-align: center;
      font-size: $pc-h6-fz;
    }
  }

  .input {
    width: 100%;
  }

  .error {
    position: absolute;
    bottom: -28px;
    width: 100%;
    border-radius: $border-rad-5;

    color: $error-color;
    text-align: center;
    font-size: $pc-h6-fz;
  }
}