@use '../../../../styles/variables' as *;

.header {
	position: fixed;
	top: 0;
	height: 74px;
	width: 100%;
	background-color: $primary-color;
	border-bottom: 2px $secondary-color solid;
	overflow: hidden;
	z-index: 9999;

	display: flex;
	justify-content: center;


	&.login {

		.logo {
			position: unset;
		}

		.links {
			display: none;
		}

		.logout {
			display: none;
		}
	}

	.logo {
		position: absolute;
		left: 24px;
		height: 100%;
		padding-top: 8px;
	}

	.links {
		display: flex;
		justify-self: center;
		height: 100%;
	}

	.logout {
		position: absolute;
		top: 50%;
		right: 24px;
		transform: translateY(-50%);
	}
}