@use '../../../../../styles/variables' as *;
@use '../../../../../styles/mixins' as *;

.listContainer {
	position: absolute;
	width: 300px;

	.container {
		display: flex;
		flex-direction: column;
		max-height: 508px;
		overflow-y: auto;

		border-radius: $border-rad-5;
		background-color: #fff;

		.line {
			cursor: pointer;
			display: block;
			width: 100%;
			padding: 32px 28px;
			background-color: transparent;
			border: none;
			outline: none;
			transition: all $slow $anim-time;

			&:hover {
				color: $primary-color;
			}

			@include rgba-text($text-color-black, 0.5);
			font-size: 17px;
			text-align: start;

			&.lineBorder {
				border-top: 2px $disabled-color solid;
			}
		}
	}
}
