@use '../../../styles/variables' as *;

.container {

    .title {
        margin-bottom: 64px;
    }

    .buttons {
        display: flex;
        gap: 10px;
    }

    .addButton {
        width: 100%;
        margin-top: 32px;
    }
}