@use '../../../../../../../styles/variables' as *;
@use '../../../../../../../styles/functions' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 32px;

  .imageContainer {
    position: relative;
    width: 100%;
    height: 866px;
    max-width: 1028px;
    border-radius: $border-rad-4;

    clip-path: inset(0 0 0 0 round $border-rad-4);
    background-image: url('/images/photo_main_bg.svg');
    background-color: $grey_background_color;
    background-position: center;
    background-repeat: no-repeat;

    &.big {
      max-height: 866px;
    }

    &.small {
      max-height: 494px;
    }

    .image {
      width: 100%;
    }

    .imageInput {
      position: absolute;
      bottom: 28px;
      left: 50%;
      transform: translate(-50%);

      border-radius: $border-rad-6;
    }
  }

  .description {
    font-size: $details-from-image-fz;
    text-align: center;
  }
}

.imageErrorWrap.imageErrorWrap {
  position: initial;
  outline: none;
}

.imageError.imageError {
  top: 20px;
  font-size: $pc-h3-fz;

  &.big {
    top: 250px
  }
}