@use '../../../../../../styles/variables' as *;

.imageInputZone {
	margin-top: 64px;

	label {
		margin-top: 32px;
	}

	.imagePreview {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;

		.errorMessage {
			position: absolute;
			top: -48px;
			left: 50%;
			transform: translateX(-50%);
		}

		.images {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: flex-end;
			gap: 32px;
			width: 100%;
			padding-top: 80px;

			.imageContainer {
				position: relative;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				width: 100%;
				border-radius: $background-pattern-border-rad;
				clip-path: inset(0 0 0 0 round $background-pattern-border-rad);
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				transition: all $anim-time $slow;

				&.blue {
					background-image: url('/images/bg_blue_employee.jpg');
				}

				&.grey {
					background-image: url('/images/bg_grey_employee.jpg');
				}

				&.small {
					max-width: 256px;
					height: 256px;
				}

				&.big {
					max-width: 346px;
					height: 346px;
				}

				&.error {
					box-shadow: inset 0 0 0 3px $error-color;
				}

				.image {
					position: absolute;
					top: 2px;
					width: 100%;
				}
			}
		}

		.caption {
			margin-top: 32px;
		}
	}
}