//IMPORTS
@font-face {
    font-family: 'unbounded';
    src: url('../media/fonts/unbounded/Unbounded-Regular.ttf');
}

@font-face {
    font-family: 'ubuntu reg';
    src: url('../media/fonts/ubuntu/Ubuntu-Regular.ttf');
}

@font-face {
    font-family: 'ubuntu med';
    src: url('../media/fonts/ubuntu/Ubuntu-Medium.ttf');
}

@font-face {
    font-family: 'ubuntu bold';
    src: url('../media/fonts/ubuntu/Ubuntu-Bold.ttf');
}

// VARIABLES
// FONT FAMILY
$not-found-font: "unbounded";
$main-reg-font: "ubuntu reg";
$main-med-font: "ubuntu med";
$main-bold-font: "ubuntu bold";

// FONT SIZE
// PC
$pc-h2-fz: 52px;
$pc-h1-fz: 64px;
$pc-h3-fz: 32px;
$pc-h4-fz: 29px;
$pc-h5-fz: 23px;
$pc-h6-fz: 20px;

$pc-t1-fz: 20px;
$pc-t2-fz: 17px;
$pc-t3-fz: 14px;

// MOBILE
$mob-h1-fz: 52px;
$mob-h2-fz: 32px;
$mob-h3-fz: 26px;
$mob-h4-fz: 23px;
$mob-h5-fz: 20px;
$mob-h6-fz: 17px;

$mob-t1-fz: 17px;
$mob-t2-fz: 14px;
$mob-t3-fz: 11px;