@use '../../../../../../styles/variables' as *;

.titleShape {
  position: relative;
  z-index: 0;
  background-color: $background-color-primary;

  .titleWrap {
    z-index: 5;
    position: relative;
    top: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;

    &.additional {
      padding-top: 32px;
    }

    .additionalTitle {
      width: 100%;
      margin-bottom: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .title {
      display: flex;
      flex-direction: column;
      max-width: 596px;
      width: 100%;

      .label {
        margin-bottom: 32px;
      }

      .error {
        width: 100%;
        text-align: center;
      }
    }

    .priceNearTitle {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      .top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 32px;
      }

      .input {
        pointer-events: none;
        opacity: 0;

        transition: all $anim-time $slow;

        &.active {
          pointer-events: auto;
          opacity: 1;
        }
      }

      .error {
        width: 100%;
        text-align: center;
      }
    }
  }
}