.createEmployeeForm {

    .inputs {
        display: flex;
        flex-direction: column;
        gap: 128px;

        .mainInfo {
            display: flex;
            flex-direction: column;
            gap: 48px;

            .fullName {
                display: flex;
                gap: 32px;
            }
        }

        .socialMedia {

            .socialMediaCheckboxes {
                width: 100%;
                max-width: 498px;
            }
        }
    }
}