@use '../../../../styles/variables' as *;

.footer {
    position: fixed;
    z-index: 9999;
    width: 100%;
    bottom: 0;
    background-color: $primary-color;
    color: $text-color-white;
    padding: 30px 0;
    border-top: $secondary-color 2px solid;

    p {
        text-align: center;
        font-size: $pc-t3-fz;
    }
}