@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.container {
	width: 100%;
	border-bottom: 2px solid $disabled-color;
	clip-path: inset(-200px -200px 0 -200px);

	.labelContainer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 16px;
		padding: 24px 0 33px;

		h3 {
			display: inline-block;
			font-size: $pc-h4-fz;
			font-weight: $font-weight-med;
			word-break: break-word;

			@include respond-to(s) {
				font-size: $mob-h4-fz;
			}
			@include respond-to(m) {
				font-size: $mob-h4-fz;
			}
		}
	}

	p {
		font-size: $pc-h6-fz;
		line-height: 180%;
		padding-bottom: $padding-2;

		@include respond-to(s) {
			font-size: $mob-h6-fz;
		}
		@include respond-to(m) {
			font-size: $mob-h6-fz;
		}
	}

	.list {
		list-style-position: inside;
		padding-bottom: $padding-2;
		padding-left: 12px;

		li {
			font-size: $pc-h6-fz;
			line-height: 180%;

			@include respond-to(s) {
				font-size: $mob-h6-fz;
			}
			@include respond-to(m) {
				font-size: $mob-h6-fz;
			}
		}
	}
}