@use '../../../../../../styles/variables' as *;

.priceVariantShape {
	position: relative;
	z-index: 0;
}

.priceVariantWrap {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 48px;

	&.additional {
		padding-top: 64px;
	}

	.additionalTitle {
		width: 100%;
		margin-bottom: 12px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.variantOptions {
		display: flex;
		max-width: 100%;
		gap: 32px;

		.variant {
			display: flex;
			flex-direction: column;
			flex-grow: 1;

			.input {
				display: flex;
				max-width: none;
				width: 100%;
			}
		}
	}
}