@use '../../../../styles/mixins' as *;

.container {
	display: flex;
	align-items: stretch;
	gap: 32px;

	.card {
		flex-direction: column;
		align-items: end;
		gap: 22px;
		flex: 1 1 470px;

		h3 {
			margin: 0 0 24px;
		}

		@include respond-to(s) {
			flex: 100%;
		}
		@include respond-to(m) {
			flex: 100%;
		}
		@include respond-to(l) {
			flex: 1 1 465px;
		}
	}

	@include respond-to(s) {
		flex-wrap: wrap;
	}
	@include respond-to(m) {
		flex-wrap: wrap;
	}
	@include respond-to(l) {
		flex-wrap: wrap;
	}
}