@use '../../../../../../styles/variables' as *;
@use '../../../../../../styles/functions' as *;

.container {
  position: relative;
  display: flex;
  border-radius: $border-rad-8;
  padding-top: 64px;

  &.titleNotForstInOrder {
    padding-top: 128px;
  }

  &:first-child {
    padding-top: 0;
  }

  .deleteBtn {
    left: -30px;
  }
}