@use '../../../../styles/variables' as *;

.isLogged {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    color: $text-color-black;
    font-size: $pc-h1-fz;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    .form {
        display: flex;
        flex-direction: column;
        width: 632px;

        .title {
            margin-bottom: 64px;
            text-align: center;
        }

        .login {
            margin-bottom: 24px;
        }

        .btn {
            margin-top: 64px;
        }
    }
}