@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/functions' as *;

.link {
	position: relative;
	display: flex;
	justify-content: center;
	height: 100%;
	padding: 0 20px;
	clip-path: inset(0 -200px 0 -200px);

	&::after {
		content: '';
		position: absolute;
		left: 10%;
		bottom: -2px;
		width: 80%;
		height: 4px;
		opacity: 0;
		border-radius: 4px 4px 0px 0px;

		transition: all $anim-time $slow;
		background-color: $secondary-color;
	}


	&.active {

		.url {
			color: $secondary-color;
		}
	}

	&:hover {

		.url {
			cursor: pointer;
			color: $secondary-color;
		}

		&::after {
			z-index: 5;
			left: 0;
			bottom: -2px;
			width: 100%;
			opacity: 1;
			transform: translateY(0);
			border-radius: 4px 4px 0 0;
			box-shadow: 0 0 22px 4px rgba-color($secondary-color, 0.4);
		}
	}

	.url {
		height: 100%;
		display: inline-flex;
		align-items: center;
		background-color: transparent;
		border: none;
		outline: none;
		padding: 26px 0;

		text-decoration: none;
		color: $text-color-white;
		font-size: $pc-t2-fz;

		transition: all $anim-time $slow;
	}

}