@use '../../../styles/variables' as *;

.navbar {
	position: fixed;
	top: 0;
	z-index: 9999;
	width: 100%;
	background-color: $primary-color;

	color: black;
	border-bottom: 2px $secondary-color solid;

	.container {
		display: flex;
		gap: 32px;

		.logo {
			max-width: 164px;
			display: block;

			img {
				width: 100%;
				display: block;
				height: auto;
				padding-top: 8px;
			}
		}

		.departments {

		}

		.links {

		}

		.bookingBtn {
			display: flex;
			align-items: center;
		}
	}
}