@use '../../../styles/variables' as *;

.navbar {
    background-color: $black-bg-color;
    color: white;

    .container {
        display: flex;

        .logo {

        }
    
        .departments {
    
        }
    
        .links {
    
        }
    
        .btn {
            
        }
    }
}