@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.container {

	.sideNav {
		position: sticky;
		top: 110px;
		display: flex;
		flex-direction: column;
		max-width: 300px;

		@include respond-to(s) {
			display: none;
		}
		@include respond-to(m) {
			display: none;
		}
		@include respond-to(l) {
			display: none;
		}
	}
}