@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;


.heroSection {
	@include hero-section-basic();
	@include mix-bg-colors('/images/client/about_us_hero_bg.jpg');
}

.descriptionSection {
	flex-direction: row;
	align-items: flex-start;
	gap: 64px;

	.img {
		flex: 1 1;
		max-width: 632px;

		img {
			width: 100%;
			height: auto;
			object-fit: contain;
		}
	}

	article {
		flex: 1 1 0;
		display: flex;
		flex-direction: column;
		gap: 64px;

		text-align: left;

		h2 {
			text-align: left;
			word-break: break-word;
		}

		p {
			text-align: left;
			max-width: none;
		}

		.btn.btn {
			flex-basis: 0;
			width: 100%;
		}
	}

	@include respond-to(s) {
		flex-direction: column;

		.img {
			max-width: 324px;
			width: 100%;
			order: 2;
			align-self: center;
		}

		article {
			display: contents;
			flex-direction: column;

			h2 {
				order: 1;
			}

			p {
				width: 100%;
				order: 3;
			}

			.btn {
				order: 4;
			}
		}
	}
	@include respond-to(m) {
		flex-direction: column;
		align-items: center;

		.img {
			max-width: 324px;
			width: 100%;
			order: 2;
			align-self: center;
		}

		article {
			display: contents;
			flex-direction: column;

			h2 {
				order: 1;
			}

			p {
				order: 3;
			}

			.btn {
				order: 4;
			}
		}
	}

}

.goalsSection {

	p {
		max-width: none;

		@include respond-to(s) {
			text-align: left;
		}
		@include respond-to(m) {
			text-align: left;
		}
	}
}