@use '../../../../styles/variables' as *;


.container {
	position: relative;

	.sideNav {
		position: sticky;
		top: 50%;
		transform: translateY(-50%);
		display: flex;
		flex-direction: column;
		clip-path: inset(-200px 0 -200px 0);
	}
}