@use '../../../../../styles/variables' as *;

.inputContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;

    .checkboxContainer {
        display: flex;
        justify-content: space-between;
    }

    .input {
        margin-top: 32px;
        pointer-events: none;
        opacity: 0;

        transition: all $anim-time $slow;

        &.active {
            pointer-events: auto;
            opacity: 1;
        }
    }

    .error {
        position: absolute;
        bottom: -28px;
        width: 100%;
        border-radius: $border-rad-5;

        color: $error-color;
        text-align: center;
        font-size: $pc-h6-fz;
    }
}